<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	😊 XXX_Mapper.xml
	MyBatis에서 SQL 쿼리를 정의하고, Mapper 인터페이스와 연결하는 핵심 역할
	
	😊 namespace 작성  
	연결할 Mapper 인터페이스의 패키지명을 포함한 인터페이스명
	예시) com.lib.mapper.BookMapper
		 경로를 구분 할때 .을 사용!!!
		 😭😭 오타 주의!!
-->
	
<mapper namespace="com.lib.mapper.BookMapper">
  <!--
  
  😭😭 태그의 속성값을 입력 할때 오타에 주의 해야 합니다
  
  <SELECT 태그> 
  	SELECT 문을 정의할 때 사용하는 MyBatis XML 태그
  	
  	✨ id 		: Mapper 인터페이스의 메서드명과 연결 
  				  속성 값으로 메서드명을 입력 합니다!!!!!!
  		 	  	  메서드를 호출 하면 쿼리의 실행 결과가 반환
  		
  	resultType : 반환 타입
  				 쿼리의 실행 결과를 매핑할 객체의 패키지명으을 포함한 클래스명을 입력
  				 😊 예전에는 resultType 또는 resultMap을 반드시 명시해야 MyBatis가 쿼리 결과를 어떻게 매핑할지 알 수 있었지만,
					최근에는 일부 자동 추론 기능이 개선되어 일부 상황에서는 resultType을 생략해도 동작
					(인터페이스 메서드 리턴 타입이 명확한 경우 resultType 생략 가능)
   -->
  <select id="selectBookList" resultType="com.lib.vo.BookVO">
    select * from Book
  </select>
  
  <!-- 반환타입을 작성 하지 않아도 메서드의 반환타입으로 추론이 가능하여 생략 가능 -->
  <select id="selectBook" >
  	<!-- 
  	#{} : 매개변수로 전달 된 값을 쿼리에서 사용 할때사용
  			PreparedStatement로 처리
  	${} : SQL Injection에 취약
  			Statement로 처리
  		  테이블명, 컬럼명을 매개변수로 받아서 사용 해야 하는 경우 사용
  	  -->
    select * from Book where book_no=#{id}
  </select>
  
  <select id="selectBookCnt">
  	select count(*) from book
  </select>
  
  
</mapper>