<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>loginAction</display-name>
    <servlet-name>loginAction</servlet-name>
    <servlet-class>com.border.controller.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAction</servlet-name>
    <url-pattern>/loginAction</url-pattern>
  </servlet-mapping>
  <display-name>board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoutAction</display-name>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>com.border.controller.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/LogoutAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberListController</display-name>
    <servlet-name>MemberListController</servlet-name>
    <servlet-class>com.board.controller.MemberListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberListController</servlet-name>
    <url-pattern>/MemberListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberRegisterController</display-name>
    <servlet-name>MemberRegisterController</servlet-name>
    <servlet-class>com.board.controller.MemberRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberRegisterController</servlet-name>
    <url-pattern>/MemberRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdCheckController</display-name>
    <servlet-name>IdCheckController</servlet-name>
    <servlet-class>com.board.controller.IdCheckController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdCheckController</servlet-name>
    <url-pattern>/IdCheckController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberViewController</display-name>
    <servlet-name>MemberViewController</servlet-name>
    <servlet-class>com.board.controller.MemberViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberViewController</servlet-name>
    <url-pattern>/MemberViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberDeleteController</display-name>
    <servlet-name>MemberDeleteController</servlet-name>
    <servlet-class>com.board.controller.MemberDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDeleteController</servlet-name>
    <url-pattern>/MemberDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberEditController</display-name>
    <servlet-name>MemberEditController</servlet-name>
    <servlet-class>com.board.controller.MemberEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberEditController</servlet-name>
    <url-pattern>/MemberEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardController</display-name>
    <servlet-name>BoardController</servlet-name>
    <servlet-class>com.board.controller.BoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/BoardController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.board.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
</web-app>