<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <!-- 접속정보 -->
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="test1"/>
        <property name="password" value="1234"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  	<!-- mapper.xml의 경로 
  		여러개의 쿼리가 정의 되어 있음 
  		xml파일을 참조하는 경우 /로 구문한다!!
  		ex) com/lib/mapper/BookMapper.xml
  	-->
    <mapper resource="com/lib/mapper/BookMapper.xml"/>
  </mappers>
</configuration>